@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-nav {
    background: #f1dfbfb4;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: background-color 0.3s ease;
}

.dark .glass-nav {
    background: #223851;
    border-bottom: 1px solid #f1dfbf;
}

#inicio {
    display: flex;
    position: relative;
    overflow: hidden;
}

/* Background Image Layer */
#inicio::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(https://i.pinimg.com/1200x/f8/09/99/f8099975a2d012e59bb21afe8fb2e99d.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
}

/* Acrylic Effect Overlay */
#inicio::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(7, 7, 7, 0.034);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(50px);
    z-index: -1;
}

/* Dark Mode Acrylic Adjustment */
.dark #inicio::after {
    background: rgba(15, 23, 42, 0.6);
}

