@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-nav {
    background: #f1dfbf;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    transition: background-color 0.3s ease;
}

.dark .glass-nav {
    background: #223851;
    border-bottom: 1px solid #f1dfbf;
}

.text-gradient {
    background: linear-gradient(to right, #f1dfbf, #273f56);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#inicio {
    display: flex;
    background-image: url(https://images.unsplash.com/photo-1605379399642-870262d3d051?q=80&w=1206&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}